<div class="container">
  <div class="address mt-3">
    <%= form_with model: @winner, url: prize_path(@winner), method: :patch, data: { turbo: false } do |form| %>
      <b><%= form.label :select_address %></b>
      <% current_user.addresses.each do |address| %>
        <div class="row mt-2">
          <div class="col d-flex ms-2" style="max-width: 40px">
            <%= form.radio_button :address, address.id, checked: address.is_default %>
          </div>
          <div class="col">
            <span class="badge rounded-pill bg-secondary"> <%= address.genre %></span>
            <span class="badge rounded-pill bg-primary"><%= :Default if address.is_default %></span>
            <div>
              <div class="fw-bold d-inline" style="display:inline">Name:</div>
              <%= address.name %>
            </div>
            <div>
              <div class="fw-bold d-inline" style="display:inline">Address:</div>
              <%= "#{address.street_address}, #{address.barangay&.name}, #{address.city&.name}, #{address.province&.name}, #{address.region&.name}" %>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <%= link_to "Create Address", new_address_path, class: 'btn btn-outline-secondary btn-sm me-2', style: "width: 300px" %>
        <%= form.submit "Submit", class: 'btn btn-outline-secondary btn-sm me-2', style: "width: 300px" %>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
</div>