<h1>Address</h1>
<%= link_to 'New', new_address_path, class: 'btn btn-secondary btn-sm' %>
<table class="table">
  <thead>
  <td>Name</td>
  <td>Street Address</td>
  <td>Default</td>
  <td>User</td>
  <td>Remark</td>
  <td>Genre</td>
  <td>Address</td>
  </thead>
  <% @addresses.each do |address| %>
    <tr>
      <td><%= address.name %></td>
      <td><%= address.street_address %></td>
      <td><%= address.is_default %></td>
      <td><%= address.user_id %></td>
      <td><%= address.remark %></td>
      <td><%= address.genre %></td>
      <td><%= "#{address.street_address}, #{address.barangay&.name}, #{address.city&.name}, #{address.province&.name}, #{address.region&.name}" %></td>
    </tr>
  <% end %>
</table>

